 <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron center">
      <div class="container">
        <h1>Welcome to myRecipes App</h1>
        <h3>This is the home page for the myRecipes act as part of the Ruby on Rails course</h3>
          <%= link_to "link 2", "", class:"btn btn-lg btn-success" %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2 class="midrow left">View recipes as guest user</h2>
          <p class=left>Browse and view recipes as a guest and sign up later </p>
          <p><%= link_to "Browse recipes listing", "", class: "btn btn-warning btn-small"%></p>
        </div>
        <div class="col-md-4">
          <h2 class="midrow left">View Recipes as guest user</h2>
          <p class=left>Browse and view recipes as a guest and sign up later </p>
          <p><%= link_to "Browse recipes listing", "", class: "btn btn-warning btn-small"%></p>
        </div>
        <div class="col-md-4">
          <h2 class="midrow left">View Recipes as guest user</h2>
          <p class=left>Browse and view recipes as a guest and sign up later </p>
          <p><%= link_to "Browse recipes listing", "", class: "btn btn-warning btn-small"%></p>
        </div>
        
      </div>

      <hr>