

@import "bootstrap-sprockets";
@import "bootstrap";

body {
    padding-top: 80px;
    
}

#logo { 
        margin: 10px 10px 10px 0px;
        float: left;
        font-size: 2em;
        letter-spacing: -1px;
        padding-top: 9px;
        font-weight: bold;
        
}

#logo:hover {
    color: white;
    text-decoration: none;
}

.btn-warning {
    color: #fff;
    background-color: #1596D0;
    border-color: #194756;
}

.btn-warning:hover {
    color: #fff;
    background-color: #135B8C;
    border-color: #0D4063;
}

.nav_item {
   float: left; 
   margin: 15px;
}

.center {
    text-align: center;
}

h1, h2, h3, h4 {
    line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 2em;
  margin-bottom: 20px;
  text-align: center;
}



h3 {
    font-size: 1.5em;
    margin-bottom: 30px;
    text-align: center;
    font-weight: bold;
    color: grey;
}

.left {
    text-align: left;
    
}

.footer {
    margin-top: 25px;
}


.chef_info {
    margin-top: 15px;
}

.gravatar {
    border-radius: 10px;
}

.well {
    background-color: #EDEDED;
    padding-bottom: 15px;
}

input, textarea, select, .uneditable-input {
    border: 1px solid #D2D2D2;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 15px;
    
}

input {
    height: auto !important;
    
}

span.picture {
    margin-top: 10px;
    input { border: 0; }
}

.show_recipe {
    margin: 10px;
}












        