<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "myRecipes", "", class:"btn btn-lg btn-success", id:"logo" %>
        </div>
        
        <div class="nav_item">
            <%= link_to "link 1", "", class:"btn btn-warning btn-default" %>
        </div><!--/.nav_item -->
        
       <div class="nav_item">
            <%= link_to "link 2", "", class:"btn btn-warning btn-default" %>
        </div><!--/.nav_item -->
        
        <div class="nav_item">
            <%= link_to "link 3", "", class:"btn btn-warning btn-default" %>
        </div><!--/.nav_item -->
        

      </div>
      
</nav>